<div fxLayout="column wrap" class="backgroundColorGrad" fxLayoutAlign="center center" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" class="whitebg width90" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="2em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="width100 navabar" fxLayoutAlign="start stretch" [fxShow]="true">
        <bh-toolbar class="width100"></bh-toolbar>
      </div>
      <div fxLayout="row wrap" class="mainContainer width100" fxLayoutAlign="start stretch" [fxShow]="true">
        <bh-howCanWeHelp class="width100"></bh-howCanWeHelp>
      </div>
      <div fxLayout="row wrap" class="footer width100" fxLayoutAlign="start stretch" [fxShow]="true">
        <bh-footer class="width100"></bh-footer>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="height10vh width100" fxLayoutAlign="center center" [fxShow]="true" ngClass.xs="height0vh">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="center start" [fxShow]="true" fxHide.xs="true">
      <h5>
        Disclaimer</h5>
      <p fxHide.xs="true" class="grayText">
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>