<div fxLayout="column wrap" class="backgroundColorGrad" fxLayoutAlign="center center" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" class="whitebg width90" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="width100 navabar" fxLayoutAlign="start stretch" [fxShow]="true">
        <bh-toolbar class="width100"></bh-toolbar>
      </div>
      <div fxLayout="row wrap" class="mainContainer width100" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column " class="width100" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
            <bh-stepper class="width100"></bh-stepper>
          </div>
          <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
            <bh-salary class="width100"></bh-salary>
          </div>
          <div fxLayout="row wrap" class="textAlignCenter width100" fxLayoutAlign="center stretch" [fxShow]="true">
            <div fxLayout="column wrap" class="textAlignCenter" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
                <h5>
                  Not sure?</h5>
              </div>
              <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
                <h6 class="bluetext">
                  I Need Adivce</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" class="footer width100" fxLayoutAlign="end stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="end center" [fxShow]="true">
          <div fxLayout="row wrap" class="width90" fxLayoutGap="1em" fxLayoutAlign="end stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="width84 orangeBtn" (click)="disablilty()">Back</button></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="width84 orangeBtndark" (click)="choose_product()">Next</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="height10vh width100" fxLayoutAlign="center center" [fxShow]="true" ngClass.xs="height0vh">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="center start" [fxShow]="true" fxHide.xs="true">
      <h5>
        Disclaimer</h5>
      <p fxHide.xs="true" class="grayText">
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>