<div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="center stretch" [fxShow]="true">
    <h4 class="textAlignCenter">
      Are you looking for maternity leave coverage?</h4>
  </div>
  <div fxLayout="row wrap" class="width30" fxLayoutAlign="space-evenly stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
      <mat-radio-button [required]="false"></mat-radio-button>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
      <mat-radio-button [required]="false"></mat-radio-button>
    </div>
  </div>
</div>