<div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutGap="1.2em" fxLayoutAlign="space-evenly center" [fxShow]="true">
    <div fxLayout="column wrap" class="fitContent" fxFlex="130px" fxLayoutGap="10px" fxLayoutAlign="center stretch" [fxShow]="true" *ngFor="let icon of selection">
      <div fxLayout="row wrap" class="myGrayText width100" fxLayoutAlign="center stretch" [fxShow]="true">
        <mat-icon class="icons">{{icon.icon}}</mat-icon>
      </div>
      <div fxLayout="row wrap" class="width100" fxLayoutAlign="center stretch" [fxShow]="true">
        <p class="blackText textAlignCenter grayText">
          {{icon.paragraph}}
        </p>
      </div>
      <div fxLayout="row wrap" class="width100" fxLayoutAlign="center stretch" [fxShow]="true">
        <mat-checkbox [required]="false"></mat-checkbox>
      </div>
    </div>
  </div>
</div>