<div fxLayout="column wrap" class="width100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
    <h4>
      What is your monthly gross income?</h4>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
      <input matInput placeholder="$1,200" [required]="false">

    </mat-form-field>
  </div>
</div>