<div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <mat-horizontal-stepper [linear]="true" [selected]="true" [selectedIndex]="position-1" #true="matHorizontalStepper" ngClass.xs="mat-horizontal-stepper-header ">
      <mat-step ngClass.xs="mat-horizontal-stepper-header "></mat-step>
      <mat-step ngClass.xs="mat-horizontal-stepper-header "></mat-step>
      <mat-step ngClass.xs="mat-horizontal-stepper-header "></mat-step>
    </mat-horizontal-stepper>
  </div>
</div>