<div fxLayout="column wrap" class="width100" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true">
      <mat-icon fxHide.xs="true">home</mat-icon>
      <mat-icon fxHide.gt-sm="true">menu</mat-icon>
    </div>
    <div fxLayout="column wrap" class="fontweight100 orangeText" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Images/Logo.png" class="width100"></div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="width100" fxLayoutGap="10px" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon>refresh</mat-icon>
        </div>
        <div fxLayout="column wrap" class="orangeBtn" fxLayoutAlign="start stretch" [fxShow]="true" fxHide.xs="true"><button mat-button>Login or Register</button></div>
      </div>
    </div>
  </div>
</div>