<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <h4 class="blackText">
      Please wait while we check your price</h4>
  </div>
  <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <h4 class="myGrayText">
      here are some of our dad jokes while you wait</h4>
  </div>
  <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <h4 class="bluetext">
      why didnt solo enjoy his steak dinner?it was Chewie</h4>
  </div>
  <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <mat-progress-bar [mode]></mat-progress-bar>
  </div>
</div>