/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

$orange:#DD601E;
$lightOrange:rgba(221, 96, 30, 0.12);
$gray:#BABFC7;
$white:white;
$blue:#1273A2;
$themeBlack:#4B4B4B;
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.myGrayText{
    color:$gray;
}
.bluetext{
    color:$blue;
}
.blackText{
color:$themeBlack;
}
.grayText{
    color:$gray;
    font-size:12px;
}
.width100{
    width:100%;
}
.orangeText{
    color:$orange;
}
.fontweight100{
    font-weight:small ;
}
.orangeBtn{
    border: $orange 1px solid !important;
    border-radius: 83px!important;
    color:$orange;
    background-color: $lightOrange;
}
.orangeBtndark{
    border: $orange 1px solid;
    border-radius: 83px!important;
    color:$white;
    background-color: $orange;
}
.textAlignCenter{
    text-align: center;
}
.width90{
    width: 90%;
}
.width84{
width: 84px;
}
.height100vh{
    height: 100vh;
}
.navabar{
    height:52px;
    border-bottom:#fbf2f2 0.1px solid;
}
.width136px{
    width: 136px;
}
.height163{
height: 163%;
}

.footer{
    height:52px;
}
.mainContainer{
    height:calc(80vh - 142px);
}
.width30{
    width:30%;
}
.heightNotSure{
        height: 435px;
}
.backgroundColorGrad{
 background-image: url("Assets/Web/Images/backgroundImage.png");
 background-repeat: no-repeat;
 background-size: cover;
}
.icons{
    font-size:3em!important;
    width: 48px!important;
    height: 43px!important;
}
.width50{
    width:50%;
}
.width60{
    width:60%;
}
.whitebg{
  background-color:white;  
  height:80vh;
}
.height90vh{
    height:90vh
}
.height0vh{
    height:0vh
}
.height10vh{
    height:10vh
}
.width80{
    width:80%;}
.mat-horizontal-content-container {
    padding:0!important;
}
.mat-horizontal-stepper-header{
      padding:0!important;
}
.height26{
height:26%;
}
.fitContent{
    height:fit-content!important;
    width:fit-content!important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
 background-color: $orange!important;
 
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $orange!important;
}
.mat-calendar-body-selected {
    background-color: $orange!important;
    color: #fff;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: $orange!important;
    color: #fff!important;
    border: 1px solid $orange!important;
}
.mat-form-field-appearance-outline .mat-form-field-outline{
//  color:$orange!important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px 0px 5px 3px!important;

    
}
mat-step-header .mat-step-icon {
    background-color: $white!important;
    color:$gray!important;
    border: 1px solid $gray!important;
    }